    [server]
      address = "0.0.0.0:8080"
      url = ["https://rport.impress.dental/ws"]
      key_seed = "98fb5a5320ca22eeac0125a1dc257e13486c"
      auth = "user:Moscow123!"
      data_dir = "/var/lib/rport"
      email = "admin@smile2impress.com"

    [api]
      address = "0.0.0.0:3000"
      auth = "impress:BlackWorld2023!"
      doc_root = "/var/www/html"